@import '../../utils/global.scss';

.navbar {
	background-color: $gun-powder;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0.7em;
	position: fixed;
	top: 0;
	width: 100%;

	&__controls {
		display: flex;
		flex-direction: row;
		margin: 0;
	}

	&__header {
		color: $clr-text-light;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;

		&__title {
			font-weight: 700;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			margin: 0;
		}
	}
}
