@import '../../utils/global.scss';

.navbar {
	background-color: $gun-powder;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row-reverse;
	box-shadow: inset 0px -52px 0px -24px $gun-powder-90;

	padding: 20px 25px 161px 25px;
	position: fixed;
	top: 0;
	width: 100%;

	&__header {
		color: $clr-text-light;
		font-weight: 700;
		font-family: 'Roboto', sans-serif;

		&__title {
			font-weight: 700;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
			margin: 0;
		}
	}
}
